# hb2731 Pset 2

## Part 1

### Question 1: Create a list with the names of every planet in the solar system (in order)

In [37]:
# moving outward from the sun (source: NASA)
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### Question 2: Have Python tell you how many planets there are by examining your list

In [131]:
numPlanets = len(planets)
print(f'There are {numPlanets} planets')

There are 8 planets

### Question 3: Use slicing to display the first four planets (the rocky planets)

In [39]:
firstFour = planets[:4]
print(firstFour)

['Mercury', 'Venus', 'Earth', 'Mars']

### Question 4: Iterate through your planets and print the planet name only if it has an s at the end

In [40]:
for i in range(numPlanets):
    if planets[i][-1] == 's':
        print(planets[i])

Venus
Mars
Uranus

## Part 2: Dictionaries

### Question 1: Now create a dictionary that maps each planet name to its mass

In [132]:
# units are 10^24 kg
massPlanets = {'Mercury': 0.330, 'Venus': 4.87, 'Earth': 5.97, 'Mars': 0.642, 'Jupiter': 1898, 'Saturn': 568, 'Uranus': 86.8, 'Neptune': 102}
print(massPlanets)

{'Mercury': 0.33, 'Venus': 4.87, 'Earth': 5.97, 'Mars': 0.642, 'Jupiter': 1898, 'Saturn': 568, 'Uranus': 86.8, 'Neptune': 102}

### Question 2: Look up Earth's mass

In [133]:
massEarth = massPlanets['Earth']
print(f'The mass of Earth is {massEarth} x 10^24 kg')

The mass of Earth is 5.97 x 10^24 kg

### Question 3: Loop through the data and create a list of planets whose mast is greater than 100 x 10^24 kg

In [43]:
threshold = 100

bigPlanets = []
for i in massPlanets:
    if massPlanets[i] > threshold:
        bigPlanets.append(i)

print(bigPlanets)

['Jupiter', 'Saturn', 'Neptune']

### Question 4: Now add pluto to your dictionary

In [44]:
massPlanets['Pluto'] = 0.013
print(massPlanets)

{'Mercury': 0.33, 'Venus': 4.87, 'Earth': 5.97, 'Mars': 0.642, 'Jupiter': 1898, 'Saturn': 568, 'Uranus': 86.8, 'Neptune': 102, 'Pluto': 0.013}

## Part 3: Functions

### Question 1: Write a function to convert temperature from kelvin to celsius and celsius to kelvin

In [70]:
def kelvin_celsius_converter(temp, kelvin = True):
    '''
    Function that converts the input temperature in Kelvin to Celsius, or Celsius to Kelvin depending on whether the input condition of kelvin is set to True or False
    (i.e., if the user inputs a Kelvin value to convert to Celsius, 'kelvin' should be set to True). Note that this argument is conditional and True by default.
    '''
    absoluteZero = 273.15

    if kelvin:
        tempOut = temp - absoluteZero
    else:
        tempOut = temp + absoluteZero
    return tempOut

### Question 2: Write a function to convert temperature to fahrenheit

In [46]:
def temp_to_fahrenheit(temp, kelvin = True):
    '''
    Function that converts the input temperature to Fahrenheit; note that Kelvin or Celsius inputs are acceptable but must be specified 
    with the kelvin = True or False input argument
    '''
    if kelvin:
       tempOut =  kelvin_celsius_converter(temp, kelvin = True)*(9/5) + 32
    else:
        tempOut = temp*(9/5) + 32
    return tempOut

### Question 3: Check that the outputs are sensible

In [47]:
# checking 300 K, which is about 27°C

toKelvinTest = kelvin_celsius_converter(27, kelvin = False)
toCelsiusTest = kelvin_celsius_converter(300, kelvin = True)

print(f'27°C is {toKelvinTest: .2f} K from the function')
print(f'300 K is {toCelsiusTest: .2f} °C from the function')

27°C is  300.15 K from the function
300 K is  26.85 °C from the function

In [135]:
# checking 27 C and 300 K which are about 80 °F

toFahr_fromC = temp_to_fahrenheit(27, kelvin = False)
toFahr_fromK = temp_to_fahrenheit(300, kelvin = True)

print(f'27°C is {toFahr_fromC: .2f} °F from the function')
print(f'300 °K is {toFahr_fromK: .2f} °F from the function')

27°C is  80.60 °F from the function
300 °K is  80.33 °F from the function

### Question 4: Now write a function that converts from farenheit and uses a keyword argument to specify whether you want the output in celcius or kelvin

In [136]:
def convert_fahrenheit(temp, output):
    '''
    Function that takes in Fahrenheit temperature and outputs either C or K temperature depending on the output argument specified

    Note on input: the 'output' parameter takes inputs of 'celsius' and 'kelvin'
    '''
    # checking to ensure that the output argument has been specified correctly
    outputs = ['celsius', 'kelvin']
    if not output in outputs:
        raise ValueError("Output argument must be specified as 'celsius' or 'kelvin'")

    # if statements to check if the output that has been selected is celsius or kelvin
    if output == 'celsius':
        tempOut = (temp - 32)*5/9
    elif output == 'kelvin':
        tempCelsius = (temp - 32)*5/9
        tempOut = kelvin_celsius_converter(tempCelsius, kelvin = False)
    return tempOut

#### Testing the function
Verified answers:  
300 °K = 80.33 °F  
100 °C = 212 °F

In [137]:
kelvinTempTest = 80.33 # temperatures in °F
celsiusTempTest = 212

kelvinToF = convert_fahrenheit(kelvinTempTest, output = 'kelvin')
celsiusToF = convert_fahrenheit(celsiusTempTest, output = 'celsius')

print(f'{kelvinTempTest}°F is {kelvinToF:.2f}°K')
print(f'{celsiusTempTest}°F is {celsiusToF:.2f}°C')

80.33°F is 300.00°K
212°F is 100.00°C

### 5: Write a function that takes two arguments (feet and inches) and returns height in meters

In [138]:
def feet_to_meters(feet, inches):
    '''
    Function that takes in two arguments (feet and inches) and returns the corresponding length in meters.
    '''
    # defining conversion values
    oneFoot = 0.3048 # one foot in meters
    oneInch = oneFoot / 12 # one inch in meters

    metersOut = feet * oneFoot + inches * oneInch

    return metersOut

#### Checking with some sensible values
Values from Google:  
3 feet 9 inches = 1.143 meters  
12 feet 1 inch = 3.683 meters

In [139]:
test1 = feet_to_meters(3, 9)
test2 = feet_to_meters(12,1)

print(f'3 feet 9 inches is {test1:.3f} meters')
print(f'12 feet 1 inches is {test2:.3f} meters')

3 feet 9 inches is 1.143 meters
12 feet 1 inches is 3.683 meters

### 6: Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

In [141]:
def meters_to_feet(height):
    '''
    Function that takes one argument (height in meters) and returns two arguments (feet and inches)
    '''
    inchesPerFoot = 12 # one foot in inches
    inchesPerMeter = 39.37 # one meter in inches

    # calculate the total height in inches then divide that into full feet and inches
    inchesTotal = height*inchesPerMeter
    feetOut = inchesTotal // inchesPerFoot # this calculates the total full feet in this height
    inchesOut = inchesTotal % inchesPerFoot # this calculates the remainder of dividing the full height in inches by the number of inches in a foot to give just inches

    return feetOut, inchesOut

### 7: Verify that the “round trip” conversion from and back to meters is consistent

In [142]:
# choose three values of metric values for this comparison
metersIn = [1, 3.5, 100.3]

# initialise lists to hold the feet and inches output
feetOut = []
inchesOut = []

# run a for loop that goes through the metric values and performs the calculation
for i in metersIn:
    feet, inches = meters_to_feet(i)
    feetOut.append(feet)
    inchesOut.append(inches)

# now performing the operation in reverse to calculate the meters

# initialise a list to store the meter values
metersOut = []

# create a for loop that calculates the output in meters based on these inputs
for i in range(len(feetOut)):
    meters = feet_to_meters(feetOut[i], inchesOut[i])
    metersOut.append(meters)

# print statements comparing meters in and out for the 'round trip'
for i in range(len(metersOut)):
    print(f'We input {metersIn[i]}m and convert to {feetOut[i]:.0f} feet and {inchesOut[i]:.2f} inches and then convert back to {metersOut[i]:.1f}m')

We input 1m and convert to 3 feet and 3.37 inches and then convert back to 1.0m
We input 3.5m and convert to 11 feet and 5.79 inches and then convert back to 3.5m
We input 100.3m and convert to 329 feet and 0.81 inches and then convert back to 100.3m